<div class="paging">
    <%= render :partial => 'paging' %>
</div>

<table id='report' class='<%= @report_engine.name.underscore %>_report' cellspacing="0">
<caption><%= @report_engine.name.underscore %>_report</caption>>

  <tr id='report-header'>
    <% @objects.first.attrs.keys.each do |field| %>
        <th scope="col" abbr="<%= field %>"><%= field %></th>
    <% end %>
  </tr>

  <% @objects.each do |object| %>
      <tr>
        <% object.attrs.values.each do |value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
  <% end %>


  <tr id='report-footer' data-all='<%= @amount %>'>
    All: <%= @amount %>,visible: <%= @objects.length %>
  </tr>



</table>
