<h2>Report</h2>
<div class="paging">
  <%= render :partial => 'paging' %>
</div>

<table id='report' class='<%= @report_engine.name.underscore %>_report report-preview' cellspacing="0">

  <% if @objects %>
      <thead>
      <tr id='report-header'>
        <% @objects.first.attrs.keys.each do |field| %>
            <th scope="col" data-header="<%= field %>" abbr="<%= field %>">
              <div class="dragtable-drag-handle"></div>
              <%= field.to_s.humanize %>
            </th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @objects.each do |object| %>
          <tr>
            <% object.attrs.values.each do |value| %>
                <td><%= value %></td>
            <% end %>
          </tr>
      <% end %>

      </tbody>

  <% else %>
      No results found, please change filters and try again
  <% end %>





</table>

<% if @objects %>
    <div id='report-footer' data-all='<%= @amount %>'>
      All: <%= @amount %>, visible: <%= @objects.length %>
    </div>
<% end %>
