<!DOCTYPE html>
<html>
<head>
  <title>ReportGen</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui' %>
  <%= javascript_include_tag :defaults%>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<div class="wrapper">
  <div class="header">
    AED reprting engine.
  </div>
  <div class="content">
    <%= show_flash %>
    <%= yield %>
  </div>
  <div class="footer_spacer"></div>
</div>
<div class="footer">&copy <a href="mailto:#">Client</a>, 2011</div>
<div id="ajax-load-background">
  <div id="ajax-load">
    <div id="ajax-load-title">Loading</div><div id="ajax-load-help">please wait</div>
  </div>
</div>


</body>
</html>

<!--<img src="/images/loading.gif">-->
